.App {
  text-align: center;
}

/* Navbar */

.navbar {
  height: 50px;
  background-color: #047aed;
  color: #fff;
}

.navbar h1 {
  margin: 0;
  padding: 5px;
}

/* Filter */

.filter {
  width: 20%;
}

.input {
  width: 80%;
  padding: 5px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox input {
  display: inline-block;
  padding: 10px;
  margin: 10px 3px 0 15px;
}

/* Product */

.products {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10px;
}

.product {
  width: 300px;
  height: 400px;
  border: 0.5px solid #333;
  padding: 10px;
  margin: 10px;
}

.product img {
  width: 90%;
  height: 250px;
}

/* Utils */

.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.f-b {
  font-weight: bold;
}

.m-2 {
  margin: 10px;
}

.mt-4 {
  margin-top: 20px;
}

.cp {
  cursor: pointer;
}

.u {
  text-decoration: underline;
}
